<!DOCTYPE html>
<html>
<div class="container">
    <LEFT>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="container">
    <h1>About This Website</h1>

<p>
    This website is a collective music library.
    <br />
    It allows users to discover and enjoy new music.
    <br />
    Its purpose is to allow users to share music through collaborative playlists.
    <br />
    Users are able to view tracks, artists, albums, record labels, and playlists, along with each of their respective metadata, in an organized fashion.
</p>
<p>
    Trevor Fox is a Senior at Sonoma State University en route to earning his Computer Science degree.
    <br />
    He has hopes to move to Los Angeles and become an audio software developer in the near future upon completing his degree.
    <br />
    Contact Information:
    <br />
    Phone: (408)000-0000
    <br />
    Email: email@domain.com
</p>

<br /><a href="/">Home</a>

</div>
</LEFT>
</body>
</html>