<% include partials/header %>

    <p>Welcome to your Music Library</p>

    <br /><br /><br />
    <font size="200">
    <a href="/playlist/all">Playlists</a>
    </font>

    <br /><br /><br />
    <a href="/track/all">Tracks</a> |
    <a href="/artist/all">Artists</a> |
    <a href="/album/all">Albums</a> |
    <a href="/label/all">Record Labels</a>

    <br /><br /><br />
    <a href="/Account/all">Users</a> |
    <a href="/signup">Sign Up</a> |
    <a href="/login">Login</a> |
    <a href="/logout">Logout</a><br />

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <a href="/aboutpage">about</a> |
    <a href="/">Home</a>
    </div>
    </CENTER>
    </body>
    </html>

<!--<% include partials/footer %>-->