<% include ../partials/header.ejs %>

<form action="./save" class="col-md-4">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="" class="form-control" />
        <label for="artist">Artist:</label>
        <input type="text" name="artist" id="artist" value="" class="form-control" />
        <label for="length">Length:</label>
        <input type="text" name="length" id="length" value="" class="form-control" />
        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre" value="" class="form-control" />
        <label for="album">Album:</label>
        <input type="text" name="album" id="album" value="" class="form-control" />
        <label for="label">Label:</label>
        <input type="text" name="label" id="label" value="" class="form-control" />
        <input type="hidden" name="username" id="username" value="<%= user.username %>" />
    </div>
    <br />
    <input type="submit" />
</form>

<% include ../partials/footer.ejs %>